*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(246, 246, 249);
}
h1{
    color: rgba(231, 18, 18, 0.927);
    text-align: center;
    margin-top: 20px;
}